@{
    ViewBag.Title = "About";
}
<!-- infromation page with little substance only, some text -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img class="img-responsive" src="~/Content/img/MissionPrep.jpg" />
            </div>
            <div class="col-lg-6 text-center">
                <div class="thumbnail" style="background-color: white">
                    <h2>Who we are</h2>
                    <p>
                        We are a group of returned missionaries that wish we knew how to be better prepared.
                        We also loved serving others on our missions and want to serve you!
                        We are based in Utah Valley so we can hear the rumblings from the MTC.
                        We're just starting up our Website and need your help answering real questions
                        from future missionaries preparing to serve.
                    </p>

                    <h2>How we can help</h2>
                    <p>
                        We are here to help you prepare for your mission! We've found that Missionaries are a more effective if they're
                        less stressed about moving to a new enviroment. we want to aleviate that stress by answering the questions that you may have
                    </p>
                        
                  
                </div>
            </div>
        </div>

    </div>
</header>
