
@{
    ViewBag.Title = "Mission";
}
<!--This view shows a form with a dropdown list of missions, the mission the user selects is then passed to the SelectedMissionController to dynamically create a FAQ view-->
<div class="container">
    @using (Html.BeginForm("MissionChosen", "SelectedMission", FormMethod.Get))
    {
        <fieldset>
            <h2>Missions</h2><br /><br/>
            @Html.DropDownList("MissionName")
            <br />
            <br />
            <p>
                <input type="submit" value="Submit" />
            </p>
        </fieldset>
    }
</div>