@{
    ViewBag.Title = "About";
}
<h2><br /></h2>
<h2><br /></h2>

<header class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 img-thumbnail">
                <img class="img-responsive" src="~/Content/img/header-bg.jpg" height="300" width="200" />
            </div>
            <div class="col-lg-6 text-center">
                <div class="thumbnail">
                    <h2 class="section-heading text-uppercase">Who we are!</h2>
                    <h3 class="section-subheading text-muted">Select an option below</h3>
                </div>
            </div>
        </div>

    </div>
</header>
