@model MissionSite2.Models.Mission

@{
    ViewBag.Title = "Mission";
}
<!--This view shows a form with a dropdown list of missions, the mission the user selects is then passed 
    to the SelectedMissionController to dynamically create a FAQ view-->
<div class="container">
   @using (Html.BeginForm("MissionChosen", "SelectedMission", FormMethod.Post))
   {<div class="form-group">
            @Html.LabelFor(model => model.MissionID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.MissionID, new SelectList(ViewBag.Missions, "MissionID", "MissionName"))
                @Html.ValidationMessageFor(model => model.MissionID, "", new { @class = "text-danger" })
            </div>
            <br/>
            <input type="submit" value="Submit" />
        </div>
   }
</div>